body{
    background: #222244;
    overflow: -moz-hidden-unscrollable;
    scroll-behavior: smooth;
    
}
#modal1{
    overflow-x: visible;
}
.collapsible-header {
    background: #576675;
}
.collapsible-body {
    background: #576675;
}
